* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    block-size: 100%;
    color-scheme: dark light;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
}

.compare {

    min-height: 100svh;
    display: grid;
    grid-template-columns: [mainCompare-start] 1fr [mainCompare-end];
    grid-template-rows: [mainCompare-start] 1fr [mainCompare-end];

    >* {
        /* same as grid-area: 1/1 */
        grid-area: mainCompare;

    }

    >section {
        display: grid;
        place-content: center;

        >h1 {
            border: 1px solid rgba(255, 255, 255, 0.7);
            background-color: rgba(255, 255, 255, 0.4);
            width: 10%;
            border-radius: 12px;
            padding: 10px;
            text-align: center;
        }

        >img {
            inline-size: 100vw;
            max-block-size: 100svh;
            object-fit: cover;
        }
    }

    .before {
        /* background: linear-gradient(to right, #000, #dadada); */
        mask: linear-gradient(to right, rgba(0, 0, 0, 1) 0, var(--position, 50%), rgba(0, 0, 0, 0) 0);

        & h1 {
            position: absolute;
            top: 10px;
            left: 10px;

        }
    }

    .after {
        /* background: linear-gradient(to right, #ff0000, #f58484); */
        mask: linear-gradient(to right, rgba(0, 0, 0, 0) 0, var(--position, 50%), rgba(0, 0, 0, 1) 0);

        & h1 {
            position: absolute;
            top: 10px;
            right: 10px;

        }

    }

    >input[type="range"] {
        z-index: 1;
        appearance: none;
        background: none;
        cursor: pointer;
        /* remove the user interaction when the input range move */
        -webkit-tap-highlight-color: transparent;

        /*The user can move the thumb along the input's track (range) to alter its numerical value.*/
        &::-webkit-slider-thumb {
            appearance: none;
            width: 4px;
            height: 100svh;
            background-color: CanvasText;
        }

        &::-moz-range-thumb {
            appearance: none;
            width: 4px;
            height: 100svh;
            background-color: CanvasText;
        }
    }




}